/* ==============================
  color stack
============================== */
$text333:      #333;
$text555:      #555;
$text777:      #777;
$text999:      #999;
$textaaa:      #aaa;
$textccc:      #ccc;
$textddd:      #ddd;
$texteee:      #eee;
$textf0:       #f0f0f0;
$textf4:       #f4f4f4;
$textf9:       #f9f9f9;
$textfa:       #fafafa;


$black78:      rgba(0,0,0,0.78);
$black54:      rgba(0,0,0,0.54);
$black38:      rgba(0,0,0,0.38);
$black24:      rgba(0,0,0,0.24);
$black16:      rgba(0,0,0,0.16);
$black08:      rgba(0,0,0,0.08);


$brand:         #42b883;
$brand-hover:   #42b883;


$fbIcon: #3b5998;
$igIcon: #e1306c;
$ghIcon: #333;
