/* ==============================
  4px grid system
============================== */
$grid:      4px;
$grid2x:   ($grid * 2  );
$grid3x:   ($grid * 3  );
$grid4x:   ($grid * 4  );
$grid5x:   ($grid * 5  );
$grid6x:   ($grid * 6  );
$grid7x:   ($grid * 7  );
$grid8x:   ($grid * 8  );
$grid9x:   ($grid * 9  );
$grid10x:  ($grid * 10 );
$grid12x:  ($grid * 12 );
$grid14x:  ($grid * 14 );
$grid16x:  ($grid * 16 );
$grid18x:  ($grid * 18 );
$grid20x:  ($grid * 20 );
$grid24x:  ($grid * 24 );
$grid28x:  ($grid * 28 );
$grid32x:  ($grid * 32 );
$grid36x:  ($grid * 36 );
$grid40x:  ($grid * 40 );
$grid48x:  ($grid * 48 );
$grid50x:  ($grid * 50 );
$grid56x:  ($grid * 56 );
$grid60x:  ($grid * 60 );
$grid64x:  ($grid * 64 );
$grid72x:  ($grid * 72 );
$grid80x:  ($grid * 80 );
$grid96x:  ($grid * 96 );
$grid100x: ($grid * 100);
$grid128x: ($grid * 128);
